<head>
  <title>Helm Repository</title>
</head>
<body>
  <h1>This subdomain serves a Helm repository.</h1>
  <p>
    <a href="https://gitlab.com/kylesferrazza/helm-charts">more information</a>
  </p>
</body>
